<nav>
    <ul>
        <li>
            <a asp-action="Index" asp-controller="Home" class="logo">Kalendarz</a>
            <a asp-action="Timeline" asp-controller="Home">Oś czasu</a>
        </li>
    </ul>
    @Html.Partial("_login")
</nav>