/*

    SECONDARY TEXT #757575
    PRIMARY TEXT #3C3C3C
    DIVIDER #BDBDBD
    ACCENT(RED) #FF5252
    PRIMARY DARK #0288D1
    PRIMARY #03A9F4
*/


/* ------------------------   GLOBAL STYLES ----------------------------------*/
*:focus {
    outline: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #3C3C3C;
    background: #f9f9f9
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1200px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    
}

.header {
    margin-bottom: 70px;
}


/* ------------------------   CALENDAR STYLES ----------------------------------*/

#calendar {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 702px;
    margin: 0 auto;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 26px -2px rgba(0,0,0,0.59);
    -moz-box-shadow: 0px 2px 26px -2px rgba(0,0,0,0.59);
    box-shadow: 0px 2px 26px -2px rgba(0,0,0,0.59);
    padding: 20px;
}

.calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #757575;
    font-size: 1.3em;
}

    .calendar-header a:hover {
        color: #03A9F4;
    }

.current-month {
    display: inline;
    font-size: 1.6em;
}

.day-square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 50%;
}

    .day-square:hover {
        background: #03A9F4;
    }

.blank-square {
    min-width: 100px;
    height: 100px;
}

.day-label {
    display: flex;
    justify-content: center;
    min-width: 100px;
    height: 100px;
    font-size: 2rem;
    font-weight: 400;
    color: #757575;
}


/* ------------------------   NAVBAR STYLES ----------------------------------*/

nav {
    display: flex;
    min-height: 80px;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 100px 0 100px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 60px;
    background: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: baseline;
}

    nav a:hover {
        color: #03A9F4
    }

    nav li {
        padding-right: 20px;
    }


    .logo {
        font-size: 2em;
        margin-right: 50px;
    }


/* ------------------------   FORM STYLES ----------------------------------*/

.form {
    background: #fff;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    max-width: 410px;
    margin: 0 auto;
    padding: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.info {
    font-size: .6em;
}

.input {
    padding: 5px;
    border: none;
    border-bottom: 2px solid #BDBDBD;
    background: #f6f6f6;
    width: 360px;
    height: 30px;
    font-size: 1em;
    transition-property: border-bottom;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

    .input:focus {
        outline: none;
        border-bottom: 2px solid #03A9F4;
    }


.button {
    display: inline-block;
    background: #29BF12;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    font-family: inherit;
}

.button:hover {
    cursor: pointer;
}

/* ------------------------   DAY STYLES ----------------------------------*/

.big-date {
    width: 600px;
    color: #03A9F4;
    margin-bottom: 50px;
}

    .big-date h2 {
        font-size: 4em;
        margin-bottom: 10px;
    }

    .big-date h4 {
        font-size: 1.4em;
        margin: 0;
    }

.bullet {
    width: 10px;
    height: 10px;
    background: #FF5252;
    border-radius: 50%;
    margin-left: 5px;
}

.form-wrapper {
    padding: 40px;
    
}

.input-event {
    border: none;
    border-bottom: 2px solid #BDBDBD;
    padding: 10px;
    font-family: inherit;
    margin-bottom: 10px;
    width: 360px;
}

    .input-event:focus{
        border-bottom: 2px solid #0288D1;
    }

.hours {
    background: #BDBDBD;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.input-hours {
    
    background: #BDBDBD;
    border: none;
}

#overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.68);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal {
    background: #fff;
    display: flex;
    max-width: 440px;
    margin: 0 20px 0 20px;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

#close-modal-button {
    font-size: 32px;
    position: absolute;
    top: 10px;
    right: 15px;
}

#close-modal-button:hover {
    cursor: pointer;
}

/* ------------------------   EVENT CARD STYLES ----------------------------------*/

.event-card {
    margin-top: 20px;
    max-width: 400px;
    padding: 40px 40px 20px 0;
    position: relative;
    border-bottom: 1px solid #ccd1d9;
}

.event-delete-button {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 3px;
}

    .event-delete-button:hover {
        cursor: pointer;
    }

.event-hours {
    margin: 0;
    position: absolute;
    top: 10px;
    letter-spacing: 1px;
    color: #434a54
}

.event-title {
    font-size: 32px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    color: #3A405A
}

.event-description {
    font-size: 15px;
    color: #434a54;
    margin-bottom: 20px;
}

.menu {
    display: none;
}

#menu-items {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    height: 100vh;
    min-width: 200px;
    max-width: 280px;
    -webkit-box-shadow: 9px 11px 49px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 9px 11px 49px -9px rgba(0,0,0,0.63);
    box-shadow: 9px 11px 49px -9px rgba(0,0,0,0.63);
    display: flex;
    justify-content: center;
    font-size: 22px;
}

#close-menu-button {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 28px;
}

    #close-menu-button:hover {
        cursor: pointer;
        color: #0288D1
    }

#menu-items ul {
    list-style: none;
    padding: 24px;
    box-sizing: border-box;
}

#menu-items li {
    margin-bottom: 10px;
}

#menu-items a:hover {
    color: #0288D1;
}

.menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    display: none;
}

.errors ul {
    color: red;
    list-style: none;
    padding: 0;
}

#app {
}

@media (max-width: 1350px) {
    #app {
        margin-left: 150px;
    }
}

@media (max-width: 750px) {
    #app {
        margin-left: 0;
        margin: 0 auto;
        max-width: 480px;
    }
}


@media (max-width: 980px) {
    nav {
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 700px) {
    #menu-items {
        display: none;
    }
    .menu {
        display: block;
    }
    nav ul {
        display: none;
    }

    nav {
        position: relative;
    }

    nav .menu-button {
        font-size: 26px;
        font-weight: 800;
        position: absolute;
        top: 25px;
        right: 40px;
    }
}

@media (min-width: 700px) {
    #menu-items {
        display: none !important;
    }
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}